{% extends "layout.html" %}
{% block title %}
	About
{% endblock %}

{% block s %}
    <button data-aos="fade-down" data-aos-delay="500" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation" class="btn btn-outline-sss btn-lg navbar-toggler" data-target="#navbar" data-toggle="collapse" type="button">
        <span class="navbar-toggler-icon" style="color:#fff;font-size:20px;">&#9776;</span>
    </button>
    <div data-aos="fade-down" data-aos-delay="500" class="collapse navbar-collapse" id="navbar">
        <ul class="navbar-nav mr-auto mt-2">
            <li class="nav-item"><a class="nav-link" href="/home">Home</u></a></li>
            <li class="nav-item"><a class="nav-link" href="/projects">Projects</a></li>
            <li class="nav-item"><a class="nav-link" href="/books">Books</a></li>
            <li class="nav-item"><a class="nav-link  current" href="/about">About</a></li>
            <li class="nav-item"><a class="nav-link" href="/contact">Contact</a></li>
        </ul>
    </div>
{% endblock %}



{% block main %}
        <div data-aos="fade-down" data-aos-delay="400">
		    <h1 class="font-name">MOHAMAD OSMAN</h1>
		</div>
			<br><br>

		<div data-aos="flip-down" data-aos-delay="400">
		    <h4 class="font-specs-32"> ML & IoT Engineer | Data Scientist | Electrical Engineer.<br> Bachelor of Science in Electrical Engineering.</h4>
		    <br><br>
		    <br><br>
		</div>

        <h4 class="font-specs-left" data-aos="fade-down" data-aos-delay="500">About me 💬</h4>
        <div class="background-info" data-aos="fade-right" data-aos-delay="500">
            <p class="font-p">Mohamad Osman is a ML & IoT Engineer, with excellent computer scinece skills, passionate about computer vision
					   technology, life-long learner, eager to expand his knowledge and skills to explore the realm of Artificial
	                   Intelligence with robust organization for being able of working on real world problems and grow professionally
	                   to satisfy organization’s objectives and aspirations.</p>
	   </div><br><br><br><br>

	   <h4 class="font-specs-left" data-aos="fade-right" data-aos-delay="500">Experience 💼</h4>
       <div class="background-info" data-aos="fade-right" data-aos-delay="500">


            <p class="font-p"> ✪ Content Creator at fihm.ai Initiative </p>
            <p class="font-purple">🏢 Fihm Initiative</p>
            <p class="font-purple">📅 09-05-2021 ➟ Present</p>
            <p class="font-purple">🚀 Writing topics about Artificial Intelligence, Machine Learning, Deep Learning.</p>
            <p class="font-purple">🌐 https://fihm.ai/</p>

            <p class="font-p"> ✪ Internet of Things (IoT) Technology Intern, 150 Hours</p>
            <p class="font-purple">🏢 Taibah Valley</p>
            <p class="font-purple">📅 02-06-2020 ➟ 22-07-2020</p>
            <p class="font-purple">🚀  Data analysis, Cloud computing, Embedded system, AI & Computer vision technologies, Business and Entrepreneurship.</p>
            <p class="font-purple">🌐 www.taibahvalley.com.sa </p>


            <p class="font-p"> ✪ Translation Volunteer</p>
            <p class="font-purple">🏢 Mohammed Bin Rashid Al Maktoum Global Initiatives</p>
            <p class="font-purple">📅 01-09-2017 ➟ 05-02-2018</p>
            <p class="font-purple">🚀 Contributed to an educational content, translation from English to Arabic , topics: Mathematics, Algebra, Calculus, probability & statistics</p>
            <p class="font-purple">🌐 https://madrasa.org </p>


	   </div><br><br><br>

	   <h4 class="font-specs-left" data-aos="fade-down" data-aos-delay="500">Education 🎓</h4>
       <div class="background-info" data-aos="fade-right" data-aos-delay="500">
            <p class="font-p">➤ CS50x Introduction to the intellectual enterprises of computer science and the art of programming [2021]</p>
            <p class="font-purple">🏢 Harvard University</p>
            <p class="font-purple">📅 02-06-2021 ➟ 25-07-2021</p>
            <p class="font-purple">📊 Grade, Excellent</p>


            <p class="font-p">➤ Specialization [6 Courses]: An Introduction to Programming the Internet of Things (IoT)</p>
            <p class="font-purple">🏢 University of California, Irvine By Coursera</p>
            <p class="font-purple">📅 17-06-2020 ➟ 06-09-2020</p>
            <p class="font-purple">📊 Grade, Excellent</p>

            <p class="font-p">➤ Bachelor of Science in Electrical Engineering</p>
            <p class="font-purple">🏢 Islamic University of Madinah</p>
            <p class="font-purple">📅 17-01-2016 ➟ 02-01-2021</p>
            <p class="font-purple">📊 Grade, Excellent</p>

	   </div><br><br><br>

        <h4 class="font-specs-left" data-aos="fade-down" data-aos-delay="500">Technical Skills 👨🏻‍💻</h4>
	   <div style="text-align: left;" class="background-info" data-aos="fade-right" data-aos-delay="500">

            <br>
            <p class="font-p">✪ Programming & Markup Languages  </p><br>
			<a><img class="icons_curve" src="https://img.shields.io/badge/Python-3776AB?style=for-the-badge&logo=Python&logoColor=white"/></a>
			<a><img class="icons_curve" src="https://img.shields.io/badge/HTML5-E34F26?style=for-the-badge&logo=HTML5&logoColor=white"/></a>
			<a><img class="icons_curve" src="https://img.shields.io/badge/CSS3-1572B6?style=for-the-badge&logo=CSS3&logoColor=white"/></a>
			<a><img class="icons_curve" src="https://img.shields.io/badge/JavaScript-F7DF1E?style=for-the-badge&logo=JavaScript&logoColor=black"/></a>
			<a><img class="icons_curve" src="https://img.shields.io/badge/C/C++-00599C?style=for-the-badge&logo=C&logoColor=white"/></a>
			<a><img class="icons_curve" src="https://img.shields.io/badge/SQL-4169E1?style=for-the-badge&logo=MySQL&logoColor=white"/></a>
			<a><img class="icons_curve" src="https://img.shields.io/badge/Matlab-BB432C?style=for-the-badge&logo=&logoColor=white"/></a>

            <br><br>
    	    <h4 class="font-specs-wh"></h4>
    	    <p class="font-p">✪ Tools, Libraries & Frameworks  </p><br>
            <a><img class="icons_curve" src="https://img.shields.io/badge/TensorFlow-FF6F00?style=for-the-badge&logo=TensorFlow&logoColor=white"/></a>
    		<a><img class="icons_curve" src="https://img.shields.io/badge/PyTorch-EE4C2C?style=for-the-badge&logo=PyTorch&logoColor=white"/></a>
    		<a><img class="icons_curve" src="https://img.shields.io/badge/Keras-D00000?style=for-the-badge&logo=Keras&logoColor=white"/></a>
    		<a><img class="icons_curve" src="https://img.shields.io/badge/OpenCV-5C3EE8?style=for-the-badge&logo=OpenCV&logoColor=white"/></a>
    		<a><img class="icons_curve" src="https://img.shields.io/badge/pandas-150458?style=for-the-badge&logo=pandas&logoColor=white"/></a>
    		<a><img class="icons_curve" src="https://img.shields.io/badge/NumPy-013243?style=for-the-badge&logo=NumPy&logoColor=white"/></a>
    		<a><img class="icons_curve" src="https://img.shields.io/badge/SciPy-00599C?style=for-the-badge&logo=SciPy&logoColor=white"/></a>
    		<a><img class="icons_curve" src="https://img.shields.io/badge/scikitLearn-F7931E?style=for-the-badge&logo=scikit-learn&logoColor=white"/></a>
    		<a><img class="icons_curve" src="https://img.shields.io/badge/nltk-1A3C45?style=for-the-badge&logo=Python&logoColor=white"/></a>
    		<a><img class="icons_curve" src="https://img.shields.io/badge/matplotlib-11557C?style=for-the-badge&logo=&logoColor=white"/></a>
    	    <a><img class="icons_curve" src="https://img.shields.io/badge/SQLite-003B57?style=for-the-badge&logo=SQLite&logoColor=white"/></a>
    	    <a><img class="icons_curve" src="https://img.shields.io/badge/GitHub-181717?style=for-the-badge&logo=GitHub&logoColor=white"/></a>
    	    <a><img class="icons_curve" src="https://img.shields.io/badge/Git-F05032?style=for-the-badge&logo=Git&logoColor=white"/></a>
    	    <a><img class="icons_curve" src="https://img.shields.io/badge/Google Colab-F9AB00?style=for-the-badge&logo=Google Colab&logoColor=white"/></a>
    		<a><img class="icons_curve" src="https://img.shields.io/badge/Flask-000000?style=for-the-badge&logo=Flask&logoColor=white"/></a>
    		<a><img class="icons_curve" src="https://img.shields.io/badge/Bootstrap-7952B3?style=for-the-badge&logo=Bootstrap&logoColor=white"/></a>
    		<a><img class="icons_curve" src="https://img.shields.io/badge/Jupyter-F37626?style=for-the-badge&logo=Jupyter&logoColor=white"/></a>
    		<a><img class="icons_curve" src="https://img.shields.io/badge/Spyder-FF0000?style=for-the-badge&logo=Spyder IDE&logoColor=white"/></a>
            <a><img class="icons_curve" src="https://img.shields.io/badge/NodeRED-8F0000?style=for-the-badge&logo=Node-RED&logoColor=white"/></a>
    	    <a><img class="icons_curve" src="https://img.shields.io/badge/Arduino-00979D?style=for-the-badge&logo=Arduino&logoColor=white"/></a>
    	    <a><img class="icons_curve" src="https://img.shields.io/badge/RaspBerryPi-A22846?style=for-the-badge&logo=Raspberry Pi&logoColor=white"/></a>
		</div><br>

{% endblock %}

{% block footer %}
        <p>Developed By Mohamd Osman, Copyright &copy; 2021 All Rights Reserved.</p>
{% endblock %}
