{% extends "layout.html" %}
{% block title %}
	Books
{% endblock %}

{% block s %}
    <button data-aos="fade-down" data-aos-delay="500" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation" class="btn btn-outline-sss btn-lg navbar-toggler" data-target="#navbar" data-toggle="collapse" type="button">
        <span class="navbar-toggler-icon" style="color:#fff;font-size:20px;">&#9776;</span>
    </button>
    <div data-aos="fade-down" data-aos-delay="500" class="collapse navbar-collapse" id="navbar">
        <ul class="navbar-nav mr-auto mt-2">
            <li class="nav-item"><a class="nav-link" href="/home">Home</a></li>
            <li class="nav-item"><a class="nav-link" href="/projects">Projects</a></li>
            <li class="nav-item"><a class="nav-link current" href="/books">Books</a></li>
            <li class="nav-item"><a class="nav-link" href="/about">About</a></li>
            <li class="nav-item"><a class="nav-link" href="/contact">Contact</a></li>
        </ul>
    </div>
{% endblock %}

{% block main %}


<ul class="cards" data-aos="fade-down" data-aos-delay="500">
    <li class="cards_item">
        <div class="card" data-aos="fade-down" data-aos-delay="500">
            <div class="card_image"><img class="img_border" src="/static/Books/Hands-On-ML.jpg" alt="" width="300" height="340"></div>
            <line_q>Category : <span style="color:#724AA2">ML | DL | Data Science</span> </line_q>
            <line_q>Reading Level : <span style="color:#724AA2">&nbsp;&nbsp;?</span> </line_q>
            <line_q>Content : <span style="color:#724AA2">&nbsp;&nbsp;Theoretical + Practical</span> </line_q>
            <line_q>Pages : <span style="color:#724AA2">&nbsp;856</span>  &nbsp;&nbsp;Visual Aids :<span style="color:#724AA2">&nbsp;✔✔✔</span></line_q>
            <line_q>My Evaluation : <span style="color:#724AA2">&nbsp;In Progress<span><line_q>
        </div>
    </li>

    <li class="cards_item">
        <div class="card" data-aos="fade-down" data-aos-delay="500">
            <div class="card_image"><img class="img_border" src="/static/Books/FeatureEngineering.png" alt="" width="300" height="340"></div>
            <line_q>Category : <span style="color:#724AA2">ML | Data Science</span> </line_q>
            <line_q>Reading Level : <span style="color:#724AA2">&nbsp;&nbsp;?</span> </line_q>
            <line_q>Content : <span style="color:#724AA2">&nbsp;&nbsp;Theoretical + Practical</span> </line_q>
            <line_q>Pages : <span style="color:#724AA2">&nbsp;217</span>  &nbsp;&nbsp;Visual Aids :<span style="color:#724AA2">&nbsp;✔✔✔</span></line_q>
            <line_q>My Evaluation : <span style="color:#724AA2">&nbsp;In Progress<span><line_q>
        </div>
    </li>

    <li class="cards_item">
        <div class="card" data-aos="fade-down" data-aos-delay="500">
            <div class="card_image"><img class="img_border" src="/static/Books/ML_humans.png" alt="" width="300" height="340"></div>
            <line_q>Category : <span style="color:#724AA2">AI</span> </line_q>
            <line_q>Reading Level : <span style="color:#724AA2">&nbsp;&nbsp;Beginner</span> </line_q>
            <line_q>Content : <span style="color:#724AA2">&nbsp;&nbsp;Theoretical</span> </line_q>
            <line_q>Pages : <span style="color:#724AA2">&nbsp;97</span>&nbsp;&nbsp;Visual Aids :<span style="color:#724AA2">&nbsp;✔✔✔</span></line_q>
            <line_q>My Evaluation : <span style="color:#724AA2">&nbsp;⭐⭐⭐⭐<span><line_q>
        </div>
    </li>


    <li class="cards_item">
        <div class="card" data-aos="fade-down" data-aos-delay="500">
            <div class="card_image"><img class="img_border" src="/static/Books/think_python.png" alt="" width="300" height="340"></div>
            <line_q>Category : <span style="color:#724AA2">Programming</span> </line_q>
            <line_q>Reading Level : <span style="color:#724AA2">&nbsp;&nbsp;Beginner</span> </line_q>
            <line_q>Content : <span style="color:#724AA2">&nbsp;&nbsp;Theoretical + Practical</span> </line_q>
            <line_q>Pages : <span style="color:#724AA2">&nbsp;483</span>&nbsp;&nbsp;Visual Aids :<span style="color:#724AA2">&nbsp;✔</span></line_q>
            <line_q>My Evaluation : <span style="color:#724AA2">&nbsp;⭐⭐⭐⭐</span><line_q>
        </div>
    </li>

    <li class="cards_item">
        <div class="card" data-aos="fade-down" data-aos-delay="500">
            <div class="card_image"><img class="img_border" src="/static/Books/Learn Python the Hard Way.png" alt="" width="300" height="340"></div>
            <line_q>Category : <span style="color:#724AA2">Programming</span> </line_q>
            <line_q>Reading Level : <span style="color:#724AA2">&nbsp;&nbsp;Beginner</span> </line_q>
            <line_q>Content : <span style="color:#724AA2">&nbsp;&nbsp;Practical</span> </line_q>
            <line_q>Pages : <span style="color:#724AA2">&nbsp;563</span>&nbsp;&nbsp;Visual Aids :<span style="color:#724AA2">&nbsp;✔</span></line_q>
            <line_q>My Evaluation : <span style="color:#724AA2">&nbsp;⭐⭐⭐</span><line_q>
        </div>
    </li>

    <li class="cards_item">
        <div class="card" data-aos="fade-down" data-aos-delay="500">
            <div class="card_image"><img class="img_border" src="/static/Books/intro_to_ai.jpg" alt="" width="300" height="340"></div>
            <line_q>Category : <span style="color:#724AA2">AI | ML | DL </span> </line_q>
            <line_q>Reading Level : <span style="color:#724AA2">&nbsp;&nbsp;Beginner</span> </line_q>
            <line_q>Content : <span style="color:#724AA2">&nbsp;&nbsp;Theoretical</span> </line_q>
            <line_q>Pages : <span style="color:#724AA2">&nbsp;125</span>&nbsp;&nbsp;Visual Aids :<span style="color:#724AA2">&nbsp;✔✔✔</span></line_q>
            <line_q>My Evaluation : <span style="color:#724AA2">&nbsp;⭐⭐⭐⭐⭐<span><line_q>
        </div>
    </li>

    <li class="cards_item">
        <div class="card" data-aos="fade-down" data-aos-delay="500">
            <div class="card_image"><img class="img_border" src="/static/Books/programming Arduino with LabVIEW.PNG" alt="" width="300" height="340"></div>
            <line_q>Category : <span style="color:#724AA2">Embeded Systems</span> </line_q>
            <line_q>Reading Level : <span style="color:#724AA2">&nbsp;&nbsp;Intermediate</span> </line_q>
            <line_q>Content : <span style="color:#724AA2">&nbsp;&nbsp;Practical</span> </line_q>
            <line_q>Pages : <span style="color:#724AA2">&nbsp;102</span>&nbsp;&nbsp;Visual Aids :<span style="color:#724AA2">&nbsp;✔✔</span></line_q>
            <line_q>My Evaluation : <span style="color:#724AA2">&nbsp;⭐⭐<span><line_q>
        </div>
    </li>

    <li class="cards_item">
        <div class="card" data-aos="fade-down" data-aos-delay="500">
            <div class="card_image"><img class="img_border" src="/static/Books/AArduino.png" alt="" width="300" height="340"></div>
            <line_q>Category : <span style="color:#724AA2">Embeded Systems | Programming</span> </line_q>
            <line_q>Reading Level : <span style="color:#724AA2">&nbsp;&nbsp;Intermediate</span> </line_q>
            <line_q>Content : <span style="color:#724AA2">&nbsp;&nbsp;Practical</span> </line_q>
            <line_q>Pages : <span style="color:#724AA2">&nbsp;152</span>&nbsp;&nbsp;Visual Aids :<span style="color:#724AA2">&nbsp;✔✔✔</span></line_q>
            <line_q>My Evaluation : <span style="color:#724AA2">&nbsp;⭐⭐⭐</sppan><line_q>
        </div>
    </li>


    <li class="cards_item">
        <div class="card" data-aos="fade-down" data-aos-delay="500">
            <div class="card_image"><img class="img_border" src="/static/Books/science fiction.jpg" alt="" width="300" height="340"></div>
            <line_q>Category : <span style="color:#724AA2">General Knowledge </span> </line_q>
            <line_q>Reading Level : <span style="color:#724AA2">&nbsp;&nbsp;Beginner</span> </line_q>
            <line_q>Content : <span style="color:#724AA2">&nbsp;&nbsp;Theoretical</span> </line_q>
            <line_q>Pages : <span style="color:#724AA2">&nbsp;176</span>&nbsp;&nbsp;Visual Aids :<span style="color:#724AA2">&nbsp;✔✔</span></line_q>
            <line_q>My Evaluation : <span style="color:#724AA2">&nbsp;⭐⭐⭐⭐<span><line_q>
        </div>
    </li>

    <li class="cards_item">
        <div class="card" data-aos="fade-down" data-aos-delay="500">
            <div class="card_image"><img class="img_border" src="/static/Books/MQ.png" alt="" width="300" height="340"></div>
            <line_q>Category : <span style="color:#724AA2">General Knowledge</span> </line_q>
            <line_q>Reading Level : <span style="color:#724AA2">&nbsp;&nbsp;Beginner</span> </line_q>
            <line_q>Content : <span style="color:#724AA2">&nbsp;&nbsp;Theoretical</span> </line_q>
            <line_q>Pages : <span style="color:#724AA2">&nbsp;222</span>&nbsp;&nbsp;Visual Aids :<span style="color:#724AA2">&nbsp;</span></line_q>
            <line_q>My Evaluation : <span style="color:#724AA2">&nbsp;⭐⭐⭐⭐<span><line_q>
        </div>
    </li>
</ul>

{% endblock %}




{% block footer %}
        <p>Developed By Mohamd Osman, Copyright &copy; 2021 All Rights Reserved.</p>


{% endblock %}

