        <div class="item" data-aos="fade-up" data-aos-delay="1000">1</div>
        <div class="item" data-aos="fade-down">2</div>
        <div class="item" data-aos="fade-right">3</div>
        <div class="item" data-aos="fade-left">4</div>

        <div class="item" data-aos="zoom-in">5</div>
        <div class="item" data-aos="zoom-out">6</div>

        <div class="item" data-aos="slide-up">7</div>

        <div class="item" data-aos="flip-up">8</div>
        <div class="item" data-aos="flip-down">9</div>
        <div class="item" data-aos="flip-right">10</div>
        <div class="item" data-aos="flip-left">11</div>