{% extends "layout.html" %}
{% block title %}
	Contact
{% endblock %}

{% block s %}
    <button data-aos="fade-down" data-aos-delay="500" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation" class="btn btn-outline-sss btn-lg navbar-toggler" data-target="#navbar" data-toggle="collapse" type="button">
        <span class="navbar-toggler-icon" style="color:#fff;font-size:20px;">&#9776;</span>
    </button>
    <div data-aos="fade-down" data-aos-delay="500" class="collapse navbar-collapse" id="navbar">
        <ul class="navbar-nav mr-auto mt-2">
            <li class="nav-item"><a class="nav-link" href="/home">Home</a></li>
            <li class="nav-item"><a class="nav-link" href="/projects">Projects</a></li>
            <li class="nav-item"><a class="nav-link" href="/books">Books</a></li>
            <li class="nav-item"><a class="nav-link" href="/about">About</a></li>
            <li class="nav-item"><a class="nav-link current" href="/contact">Contact</a></li>
        </ul>
    </div>
{% endblock %}



{% block main %}
    <H1 class="font-name" data-aos="fade-down" data-aos-delay="600">Connect with me </H1><br><br>
    <div data-aos="fade-down" data-aos-delay="700">
    	<a href="https://www.linkedin.com/in/mohamad-osman-60224b1a4" target="_blank" rel="noopener noreferrer"><img class="icons_curve_boost" src="https://img.shields.io/badge/LinkedIn-0077B5?style=for-the-badge&logo=linkedin&logoColor=white" width="150" height="42"></a>
    	<a href="https://twitter.com/Science10S" target="_blank" rel="noopener noreferrer"><img class="icons_curve_boost" src="https://img.shields.io/badge/Twitter-1DA1F2?style=for-the-badge&logo=twitter&logoColor=white" width="150" height="42"></a>
    	<a href="https://github.com/AI-MOO" target="_blank" rel="noopener noreferrer"><img class="icons_curve_boost" src="https://img.shields.io/badge/GitHub-100000?style=for-the-badge&logo=github&logoColor=white" width="150" height="42"></a>
    	<a href="https://www.kaggle.com/aiotmoo" target="_blank" rel="noopener noreferrer"><img class="icons_curve_boost" src="https://img.shields.io/badge/Kaggle-20BEFF?style=for-the-badge&logo=Kaggle&logoColor=white" width="150" height="42"></a>
    	<a href="https://stackoverflow.com/users/15754086/mohamad-osman" target="_blank" rel="noopener noreferrer"><img class="icons_curve_boost" src="https://img.shields.io/badge/Stack_Overflow-FE7A16?style=for-the-badge&logo=stack-overflow&logoColor=white"width="150" height="42"></a>
    </div>
{% endblock %}




{% block footer %}
        <p data-aos="fade-down" data-aos-delay="700">Developed By Mohamd Osman, Copyright &copy; 2021 All Rights Reserved.</p>
{% endblock %}